.DS_Store
.cache
.env.*
!.env.test
!.env.sample
.env
keyfile.json

node_modules/
build
config
/public/build
./core

.vscode
.vercel
.turbo
.yalc
yalc.lock
.react-router/

app/firebase.json
app/.firebaserc

.app-config.*
app-config.d.ts

package.json

dist/

# Generated extension files
app/extensions/client.ts
app/extensions/server.ts